html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

article {
  background-color: rgb(227, 240, 239);
}

.main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

footer {
  height: 10%;
  width: 100%;
  background-color: whitesmoke;
}

@media only screen and (min-width: 750px) {
  #header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
  }
  article {
    padding-inline: 4%;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: white;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 60%;
  }
  .media_content_poster {
    content: "";
    clear: both;
    display: table;
  }
  .poster {
    height: "auto";
    width: 45%;
    margin-right: 5%;
  }
  .para_title {
    margin-top: 40px;
    margin-bottom: 0;
    font-family: "Raleway", "Calibri";
    font-size: 24px;
    font-weight: 700;
  }

  .paragraph_content {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 1.5;
    width: 87%;
  }
}

@media only screen and (max-width: 750px) {
  #header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
  }
  article {
    padding-inline: 4%;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .media_content_poster {
    content: "";
    clear: both;
    display: block;
  }
  .poster {
    height: "auto";
    width: 75%;
    margin-left: 12.5%;
  }
  .para_title {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: "Raleway", "Calibri";
    font-size: 20px;
    font-weight: 700;
  }

  .paragraph_content {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.5;
    width: 87%;
  }
}

@media only screen and (max-width: 450px) {
  #header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
  }
  article {
    padding-inline: 4%;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .media_content_poster {
    content: "";
    clear: both;
    display: block;
  }
  .poster {
    height: "auto";
    width: 75%;
    margin-left: 12.5%;
  }
  .para_title {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: "Raleway", "Calibri";
    font-size: 20px;
    font-weight: 700;
  }

  .paragraph_content {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.5;
    width: 87%;
  }
}

@media only screen and (max-width: 380px) {
  #header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
  }
  article {
    padding-inline: 4%;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-top: 0;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .media_content_poster {
    content: "";
    clear: both;
    display: block;
  }
  .poster {
    height: "auto";
    width: 75%;
    margin-left: 12.5%;
  }
  .para_title {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: "Raleway", "Calibri";
    font-size: 20px;
    font-weight: 700;
  }

  .paragraph_content {
    font-family: "Montserrat";
    font-size: 16px;
    line-height: 1.5;
    width: 87%;
  }
}
