.para_title {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: "Raleway", "Calibri";
  font-size: 20px;
  font-weight: 700;
}

.paragraph_content {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.5;
  width: 87%;
}
